opencv-python>=4.8.0
opencv-contrib-python>=4.8.0
numpy<2.0
tensorflow>=2.15.0
mediapipe==0.10.21
matplotlib
protobuf<5.0,>=4.25.3
absl-py
attrs>=19.1.0
flatbuffers>=2.0
jax
jaxlib
sounddevice>=0.4.4
sentencepiece



